# Build & install
/build
/myqlm_fermion.egg-info
*.pyc
*.eggs

# Cache files
/.pytest_cache
/tests/__pycache__
/qat/__pycache__
__pycache__
doc/notebooks/.ipynb_checkpoints/

# Code analysis
tests/prof
htmlcov/
.coverage

# Dev scripts
install
uninstall
clear_cache
fix_rights
